In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
data = pd.read_csv("operational_excellence on_time_execution_LCL_Not_China.csv")
data_df = pd.DataFrame(data)
pd.set_option('display.max_columns', None)
data_df.head()

,Unnamed: 0,Ocean type category,Ocean LCL subcategory,Shipment ID,Tradelane,Departure port Ocean LOC,Final port Ocean LOC,Port pair,Departure Port Departed On Date,OTP Promised Delivery Date,OTP Promised Delivery Week,In Full Delivered On Date,Primary Delay Stage,Quoted Origin Total Days,Quoted Port to Port Days,Quoted Destination Total Days,Total Quoted Days,Actual Origin Total Days,Actual Port to Port Days,Actual Destination Total Days,Total Actual Days,Delta quoted vs actual total days,Delta actual vs quoted origin days,Delta actual vs quoted p2p days,Delta actual vs quoted destination days,Origin on Time Performance,Port to Port on Time Performance,Destination on Time Performance,OTP,Client ID
0,1,coloaded_lcl,Shipco Transport,2994634,TPEB,VNSGN,USNYC,VNSGN - USNYC,2025-02-02,2025-04-03,2025-03-31,2025-04-03,On Time,13.0,53.0,3.0,69,8.9,57.3,3.4,70.0,1.0,-4.0,4.0,0.0,100.0%,0.0%,100.0%,100.0%,93437
1,2,coloaded_lcl,other_coloader,3004735,FEWB,KRPUS,NLRTM,KRPUS - NLRTM,2025-01-16,2025-03-31,2025-03-31,2025-03-20,On Time,13.0,64.0,4.0,81,8.1,60.9,4.4,73.0,-8.0,-5.0,-3.0,0.0,100.0%,100.0%,100.0%,100.0%,9728
2,3,coloaded_lcl,Shipco Transport,3053932,TPEB,VNSGN,USLAX,VNSGN - USLAX,2025-02-13,2025-04-03,2025-03-31,2025-03-31,On Time,13.0,39.0,3.0,55,5.9,40.9,26.5,73.0,18.0,-7.0,2.0,23.0,100.0%,100.0%,0.0%,100.0%,82785
3,4,coloaded_lcl,Shipco Transport,3054381,TAWB,ITGOA,USNYC,ITGOA - USNYC,2025-02-24,2025-04-04,2025-03-31,2025-04-01,On Time,13.0,39.0,5.0,57,0.1,52.8,9.9,63.0,6.0,-13.0,14.0,5.0,100.0%,0.0%,100.0%,100.0%,46128
4,5,coloaded_lcl,Shipco Transport,3031750,TPEB,CNXMN,USNYC,CNXMN - USNYC,2025-01-28,2025-03-31,2025-03-31,2025-03-17,On Time,14.0,55.0,3.0,72,10.9,42.0,9.3,62.0,-10.0,-3.0,-13.0,6.0,100.0%,100.0%,0.0%,100.0%,58554

In [3]:
data_df = data_df.drop(columns=['Unnamed: 0',
                                 'Departure port Ocean LOC',
                      'Final port Ocean LOC',
                      'In Full Delivered On Date',
                      'Primary Delay Stage',
                      'Quoted Origin Total Days',
                      'Quoted Port to Port Days',
                      'Quoted Destination Total Days',
                      'Total Quoted Days',
                      'Actual Origin Total Days',
                      'Actual Port to Port Days',
                      'Actual Destination Total Days',
                      'Delta quoted vs actual total days',
                      'Delta actual vs quoted origin days',
                      'Delta actual vs quoted p2p days',
                      'Delta actual vs quoted destination days',
                      'Origin on Time Performance',
                      'Port to Port on Time Performance',
                      'Destination on Time Performance',
                      'OTP',
                      'Shipment ID',
                      'Client ID'])

In [4]:
data_df.head()

,Ocean type category,Ocean LCL subcategory,Tradelane,Port pair,Departure Port Departed On Date,OTP Promised Delivery Date,OTP Promised Delivery Week,Total Actual Days
0,coloaded_lcl,Shipco Transport,TPEB,VNSGN - USNYC,2025-02-02,2025-04-03,2025-03-31,70.0
1,coloaded_lcl,other_coloader,FEWB,KRPUS - NLRTM,2025-01-16,2025-03-31,2025-03-31,73.0
2,coloaded_lcl,Shipco Transport,TPEB,VNSGN - USLAX,2025-02-13,2025-04-03,2025-03-31,73.0
3,coloaded_lcl,Shipco Transport,TAWB,ITGOA - USNYC,2025-02-24,2025-04-04,2025-03-31,63.0
4,coloaded_lcl,Shipco Transport,TPEB,CNXMN - USNYC,2025-01-28,2025-03-31,2025-03-31,62.0

In [5]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3769 entries, 0 to 3768
Data columns (total 8 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Ocean type category              3769 non-null   object
 1   Ocean LCL subcategory            3769 non-null   object
 2   Tradelane                        3769 non-null   object
 3   Port pair                        3769 non-null   object
 4   Departure Port Departed On Date  3767 non-null   object
 5   OTP Promised Delivery Date       3769 non-null   object
 6   OTP Promised Delivery Week       3769 non-null   object
 7   Total Actual Days                3565 non-null   float64
dtypes: float64(1), object(7)
memory usage: 235.7+ KB

In [6]:
data_df = data_df.dropna()
data_df.head()

,Ocean type category,Ocean LCL subcategory,Tradelane,Port pair,Departure Port Departed On Date,OTP Promised Delivery Date,OTP Promised Delivery Week,Total Actual Days
0,coloaded_lcl,Shipco Transport,TPEB,VNSGN - USNYC,2025-02-02,2025-04-03,2025-03-31,70.0
1,coloaded_lcl,other_coloader,FEWB,KRPUS - NLRTM,2025-01-16,2025-03-31,2025-03-31,73.0
2,coloaded_lcl,Shipco Transport,TPEB,VNSGN - USLAX,2025-02-13,2025-04-03,2025-03-31,73.0
3,coloaded_lcl,Shipco Transport,TAWB,ITGOA - USNYC,2025-02-24,2025-04-04,2025-03-31,63.0
4,coloaded_lcl,Shipco Transport,TPEB,CNXMN - USNYC,2025-01-28,2025-03-31,2025-03-31,62.0

In [7]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3565 entries, 0 to 3768
Data columns (total 8 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Ocean type category              3565 non-null   object
 1   Ocean LCL subcategory            3565 non-null   object
 2   Tradelane                        3565 non-null   object
 3   Port pair                        3565 non-null   object
 4   Departure Port Departed On Date  3565 non-null   object
 5   OTP Promised Delivery Date       3565 non-null   object
 6   OTP Promised Delivery Week       3565 non-null   object
 7   Total Actual Days                3565 non-null   float64
dtypes: float64(1), object(7)
memory usage: 250.7+ KB

In [8]:
data_df[['Departure Port Departed On Date',
         'OTP Promised Delivery Date',
         'OTP Promised Delivery Week']] = data_df[['Departure Port Departed On Date',
                                                   'OTP Promised Delivery Date',
                                                   'OTP Promised Delivery Week']].apply(pd.to_datetime)

In [9]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3565 entries, 0 to 3768
Data columns (total 8 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Ocean type category              3565 non-null   object
 1   Ocean LCL subcategory            3565 non-null   object
 2   Tradelane                        3565 non-null   object
 3   Port pair                        3565 non-null   object
 4   Departure Port Departed On Date  3565 non-null   datetime64[ns]
 5   OTP Promised Delivery Date       3565 non-null   datetime64[ns]
 6   OTP Promised Delivery Week       3565 non-null   datetime64[ns]
 7   Total Actual Days                3565 non-null   float64
dtypes: datetime64[ns](3), float64(1), object(4)
memory usage: 250.7+ KB

In [10]:
data_df.head()

,Ocean type category,Ocean LCL subcategory,Tradelane,Port pair,Departure Port Departed On Date,OTP Promised Delivery Date,OTP Promised Delivery Week,Total Actual Days
0,coloaded_lcl,Shipco Transport,TPEB,VNSGN - USNYC,2025-02-02,2025-04-03,2025-03-31,70.0
1,coloaded_lcl,other_coloader,FEWB,KRPUS - NLRTM,2025-01-16,2025-03-31,2025-03-31,73.0
2,coloaded_lcl,Shipco Transport,TPEB,VNSGN - USLAX,2025-02-13,2025-04-03,2025-03-31,73.0
3,coloaded_lcl,Shipco Transport,TAWB,ITGOA - USNYC,2025-02-24,2025-04-04,2025-03-31,63.0
4,coloaded_lcl,Shipco Transport,TPEB,CNXMN - USNYC,2025-01-28,2025-03-31,2025-03-31,62.0

numerical value scale or normalize it
categorical values one-hot encoding or embedding
extract year month and day from the date

In [11]:
data_df['Departure_dayofweek'] = data_df['Departure Port Departed On Date'].dt.dayofweek
data_df['Promised_Delive_dayofweek'] = data_df['Departure Port Departed On Date'].dt.dayofweek
data_df['Promised_Delivery_dayofweek'] = data_df['Departure Port Departed On Date'].dt.dayofweek

In [12]:
modelling_data_df = data_df.copy()
modelling_data_df = modelling_data_df.drop(columns=[
    "Departure Port Departed On Date",
    "OTP Promised Delivery Date",
    "OTP Promised Delivery Week"
])
modelling_data_df.head(10)

,Ocean type category,Ocean LCL subcategory,Tradelane,Port pair,Total Actual Days,Departure_dayofweek,Promised_Delive_dayofweek,Promised_Delivery_dayofweek
0,coloaded_lcl,Shipco Transport,TPEB,VNSGN - USNYC,70.0,6,6,6
1,coloaded_lcl,other_coloader,FEWB,KRPUS - NLRTM,73.0,3,3,3
2,coloaded_lcl,Shipco Transport,TPEB,VNSGN - USLAX,73.0,3,3,3
3,coloaded_lcl,Shipco Transport,TAWB,ITGOA - USNYC,63.0,0,0,0
4,coloaded_lcl,Shipco Transport,TPEB,CNXMN - USNYC,62.0,1,1,1
5,coloaded_lcl,Shipco Transport,TPEB,VNHPH - USNYC,76.0,2,2,2
6,coloaded_lcl,Shipco Transport,TPEB,INNSA - USHOU,79.0,6,6,6
7,coloaded_lcl,Shipco Transport,TPEB,INNSA - USNYC,53.0,1,1,1
8,flxt_lcl,flxt_lcl_child,TPEB,TWKHH - USLAX,38.0,5,5,5
9,flxt_lcl,flxt_lcl_child,TPEB,CNYTN - USLAX,31.0,1,1,1

In [13]:
cat_columns = ["Ocean type category","Ocean LCL subcategory","Tradelane"]
numerical_columns = ['Departure_dayofweek'	,'Promised_Delive_dayofweek'	,'Promised_Delivery_dayofweek']

In [15]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.ensemble import RandomForestClassifier
import numpy as np
# creating dummies for first three columns
X_cat_columns = OneHotEncoder(sparse_output=False, handle_unknown='ignore').fit_transform(modelling_data_df[cat_columns])

# Label encode the high-cardinality column
X_port_pair = LabelEncoder().fit_transform(modelling_data_df["Port pair"]).reshape(-1, 1)

# Convert multiple numerical columns to numpy array
X_num = modelling_data_df[numerical_columns].to_numpy()

# Concatenate all parts
X = np.concatenate([X_cat_columns, X_port_pair, X_num], axis=1)

# Get target variable
y = modelling_data_df['Total Actual Days'].to_numpy()

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [17]:
scaler = StandardScaler()

In [18]:
X_scaler = scaler.fit(X_train)

In [19]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [20]:
rf_model = RandomForestClassifier(n_estimators=500, random_state=0)

In [21]:
rf_model = rf_model.fit(X_train_scaled, y_train)

In [22]:
predictions = rf_model.predict(X_test_scaled)

In [23]:
from sklearn.metrics import  accuracy_score

acc_score = accuracy_score(y_test, predictions)
acc_score

0.06614349775784753